#billboard {
    position: fixed;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: flex-start;
    transition: all ease-in-out 1s;
    top: 30%;
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        background: #fff;
        box-shadow: 4px 4px 4px 1px rgba(222, 219, 222, 0.66);
        border: 1.8px solid #0abde3;
        td {
            border: 1px solid #576574;
            text-align: left;
            padding: 8px;
        }
        td:first-child {
            font-weight: 700;
        }
        tr:nth-child(odd) {
            background-color: #ecf0f1;
            //color: #fff;
        }
    }
    .billboard-trigger {
        cursor: pointer;
        writing-mode: tb-rl;
        background-color: #0abde3;
        padding: 4px 2px;
        i {
            transition: all ease-in-out 1s;
        }
        i.billboard-collapsed {
            transform: rotate(180deg);
        }
    }
}

.billboard-collapsed {
    transform: translateX(-92%);
}